.vs-root {
    display: flex;
    height: 100vh;
    background: #1e1e1e;
    color: #c8d3f5;
}

.vs-main-area {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 0;
}

.vs-content {
    flex: 1;
    /* background: #1e1e1e; */
    /* padding: 2rem; */
    color: #d4d4d4;
    overflow: auto;
    font-family: 'SFMono-Regular', Menlo, Monaco, 'Liberation Mono',
        'Courier New', monospace;
}