.vs-sidebar {
    width: 50px;
    background: #323232;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    border-right: 1px solid #282c34;
    min-height: 100svh;
    height: 100svh;
    max-height: 100svh;
    position: fixed;
    box-sizing: border-box;
}

.vs-sidebar-top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vs-sidebar-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 12px;
}

.vs-sidebar-btn {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    color: #768390;
    border-radius: 6px;
    transition: background 0.2s, color 0.2s;
    text-decoration: none;
    font-size: 22px;
}

.vs-sidebar-btn.active:hover {
    color: #fcfcfc;
}
