p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.kruxPageDiv {
    padding-bottom: 3rem;
}

.krux-iframe {
    border: 1px solid rgb(170, 170, 170);
    min-width: 98%;
    min-height: 80svh;
    display: block;
    margin: 1% 0%;
    padding: 0;
}